.header {
  background-color: #5D99C4;
  color: white;
  width: 100%;
  padding-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
}

.header .title {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  padding-left: 10px;
}

.header .addcat {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .addcat h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #72C9E5;
  width: 35%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.header .addcat button {
  margin-left: 10px;
  padding-right: 10px;
  color: white;
  height: 40px;
  font-size: 16px;
  margin-top: auto;
  font-weight: bold;
  margin-bottom: auto;
  -webkit-appearance: none;
  border-style: none;
  background-color: #72C9E5;
  line-height: 30px;
  border-radius: 5px;
}

.header .addcat button i {
  position: relative;
  top: 5px;
  font-size: 20px;
}

.header .addcat button:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
}

.header .search {
  width: 25%;
  text-align: right;
  padding-right: 50px;
  margin: auto;
  color: black;
}

.header .search i {
  top: 23px;
  position: absolute;
}

.header .search input {
  padding-left: 20px;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
}

.sidebar {
  width: 18%;
  overflow-y: scroll;
  position: fixed;
  top: 67px;
  height: 94vh;
  float: left;
  background-color: rgba(198, 202, 213, 0.25);
}

.sidebar input {
  background-color: rgba(167, 173, 213, 0.5);
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.sidebar .inputext {
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid grey;
  width: 95%;
}

.sidebar .inputsubmit {
  margin: 0 auto;
  display: block;
  width: 95%;
  border: none;
  padding: 5px;
  margin: 5px;
  background-color: #72C9E5;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar .inputsubmit:hover {
  background-color: rgba(91, 208, 199, 0.5);
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 5px 5px 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
}

.sidebar ul li:first-child {
  margin-left: 0;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 20px;
  border-bottom: 1px dashed black;
  border-color: rgba(0, 0, 0, 0.25);
}

.sidebar ul li:hover {
  background-color: rgba(198, 202, 213, 0.75);
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #72C9E5;
}

.toolcontainer {
  width: 82%;
  position: relative;
  float: right;
  top: 67px;
  background-color: rgba(198, 202, 213, 0.25);
  height: 100vh;
  overflow: auto;
  padding-bottom: 100px;
}

.toolcontainer h2 {
  text-align: center;
}

.toolcontainer .submit {
  display: block;
  margin: 0 auto;
  color: white;
  width: 20%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  border-style: none;
  background-color: #72C9E5;
  line-height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.toolcontainer .submit:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
}

.toolcontainer .newTool {
  width: 300px;
  padding: 20px;
  float: left;
  display: block;
  -webkit-box-shadow: 0 2px 5px #c5cacc;
          box-shadow: 0 2px 5px #c5cacc;
  margin: 20px;
  background-color: white;
  position: relative;
}

.toolcontainer .newTool button {
  position: absolute;
  right: 20px;
  padding: 5px;
  -webkit-appearance: none;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #72C9E5;
  border-radius: 5px;
}

.toolcontainer .newTool button:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
}

.toolcontainer .newTool button i {
  position: relative;
  font-size: 16px;
  top: 2px;
  color: white;
}

.toolcontainer .newTool h4 {
  margin-top: 5px;
  text-transform: uppercase;
}

.toolcontainer .newTool p {
  font-style: oblique;
}

.toolcontainer .newTool .desc {
  background-color: rgba(198, 202, 213, 0.25);
  padding: 5px;
}

#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #72C9E5;
}

.formtool {
  background-color: white;
  -webkit-box-shadow: 0 5px 5px #c5cacc;
          box-shadow: 0 5px 5px #c5cacc;
  width: 50%;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 25%;
  right: 25%;
}

.formtool a {
  position: absolute;
  right: 5%;
  font-size: 40px;
  top: 0%;
  cursor: pointer;
}

.formtool form {
  display: grid;
  width: 100%;
  margin: 0 auto;
}

.formtool form label {
  margin: 10px 0px 5px 10px;
  color: #585CA8;
  font-weight: bolder;
}

.formtool form input {
  background-color: rgba(198, 202, 213, 0.25);
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: 0px;
  padding: 5px;
}

.formtool form .submitool {
  margin-top: 20px;
  border: none;
  padding: 5px;
  background-color: #72C9E5;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.formtool form .select {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 100%;
  text-align: right;
}

.formtool form .select select {
  -webkit-appearance: none;
  border: none;
  padding: 10px;
  background-color: rgba(198, 202, 213, 0.25);
  width: 100%;
}

.formtool form .select i {
  position: absolute;
  right: 5px;
  font-size: 30px;
  top: 3px;
}

.formtool form textarea {
  background-color: rgba(198, 202, 213, 0.25);
  border: 0px;
}

.codeModal {
  width: 70vw;
  height: 70vh;
  position: absolute;
  background-color: white;
  right: 7.5%;
  -webkit-box-shadow: 11px 11px 10px 0px #c5cacc;
          box-shadow: 11px 11px 10px 0px #c5cacc;
}

.codeModal section {
  position: relative;
}

.codeModal section a {
  position: absolute;
  right: 2%;
  font-size: 40px;
  top: 5%;
  cursor: pointer;
}

body {
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}

