.header {
  background-color: #5E46D5;
  color: white;
  width: 100%;
  padding-left: 10px;
  display: inline-flex;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  .title{
    width: 20%;
    display: flex;
    text-transform: uppercase;
    padding-left: 10px;
  }
  .addcat{
    width: 65%;
    display: flex;
    h3{
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #5bd0c7;
      width: 35%;
      margin: auto;
      text-align: center;
      text-transform: uppercase;
    }
    button {
      margin-left: 10px;
      padding-right: 10px;
      color: white;
      height: 40px;
      font-size: 16px;
      margin-top: auto;
      font-weight: bold;
      margin-bottom: auto;
      -webkit-appearance: none;
      border-style:none;
      background-color: #5bd0c7;
      line-height: 30px;
      border-radius: 5px;
      i{
        position: relative;
        top: 5px;
        font-size: 20px;
      }
    }
    button:hover{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 5px 18px 0 rgba(0,0,0,0.19);
    }
  }
  .search {
    width: 25%;
    text-align: right;
    padding-right: 50px;
    margin: auto;
    color: black;
    i{
      top: 23px;
      position: absolute;
    }
    input {
      padding-left: 20px;
      height: 30px;
      margin: 0 auto;
      border-radius: 5px;
    }
  }
}